<!-- templates/sign_up.html -->

{% extends 'base.html' %}
{% load static %}


{% block links %}

<link rel="stylesheet" href="{% static "css/signup.css" %}">

{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 border p-4" id="sign_in_container">
        <h2 class="mb-4" id="form_text">Sign Up</h2>
        <form method="post" action="{% url 'accounts:signup' %}">
          {% csrf_token %}

          <!-- Name Field-->
          <div class="mb-3" id="form_fields">
            <label for="{{ form.id_for_label }}" id="form_text">Name:</label>
            {{ form.username }}
            {% if form.username.errors %}
              <div class="text-danger">{{ form.username.errors|join:", " }}</div>
            {% endif %}
          </div>

          <div class="mb-3" id="form_fields">
            <label for="{{ form.id_for_label }}" id="form_text">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
              <div class="text-danger">{{ form.email.errors|join:", " }}</div>
            {% endif %}
          </div>

          <div class="mb-3" id="form_fields">
            <label for="{{ form.id_for_label }}" id="form_text">Phone:</label>
            {{ form.phone_number }}
            {% if form.phone_number.errors %}
              <div class="text-danger">{{ form.phone_number.errors|join:", " }}</div>
            {% endif %}
          </div>
          <!-- Password1 Field -->
          <div class="mb-3" id="form_fields">
            <label for="{{ form.password1.id_for_label }}" id="form_text">Password:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
              <div class="text-danger">{{ form.password1.errors|join:", " }}</div>
            {% endif %}
          </div>

          <!-- Password2 Field -->
          <div class="mb-3" id="form_fields">
            <label for="{{ form.password2.id_for_label }}" id="form_text">Confirm Password:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
              <div class="text-danger">{{ form.password2.errors|join:", " }}</div>
            {% endif %}
          </div>
          
          <!-- Submit Button -->
          <div id="form_button_div">
          <button type="submit" id="form_button">Sign Up</button>
          <div id="form_button_div">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
