{% extends "base.html" %}
{% load static %}

{% block links%}
    <link rel="stylesheet" href={% static "css/auto_listing.css" %}>
{% endblock%}

{% block content %}
<style>
   
</style>
<div class="card-container">    
    {% for car in car_list %}
        <div class="card">
            <div class="image">
                {% for image in car.car_images.all|slice:":1"%}
                    <img src="{{ image.image.url }}" alt="{{ car.brand }} - {{ car.model }} Image" class="rounded img-fluid car-image">
                    <img class="blur" src="{{ image.image.url }}" alt="{{ car.brand }} - {{ car.model }} Image" class="rounded img-fluid car-image">
                {% endfor %}
            </div>
            <hr>
            <div class="text">
                <h2 id="car_title">{{ car.brand }} - {{ car.model }}</h2>
                <p>Production Year: {{ car.production_year }}</p>
                <p>Color: {{ car.color }}</p>
                <p>Daily Rate: {% if user.is_authenticated %}{{car.discounted_daily_rate}} {% else %}{{car.daily_rate}}{% endif %} $</p>
                <p>Location: {{ car.location }}</p>
                <a href="{% url 'rental:car_rent' car_id=car.id %}" class="btn btn-dark rent-button" id="rent_button" data-car-id="{{ car.id }}">Rent</a>
            </div>
        </div>
    {% endfor %}
</div>

<script src="{% static 'js/rent_button.js' %}"></script>
{% endblock %}
