{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{%static 'css/check_bookings.css'%}">
{% endblock %}


{% block content %}
<div class="container-fluid" id="big_box">
  <div class="row justify-content-center">
    <div class="col-md-6" id="check_container">
      <h2 class="mb-4" id="form_text">Check Booking</h2>
      
      

      <form method="post" action="{% if form.booking_id.value %}{% url 'rental:booking_info' form.booking_id.value %}{% endif %}">
        {% csrf_token %}

        <!-- Name Field-->
        <div class="mb-3" id="form_fields">
          <label for="{{ form.id_for_label }}" id="form_text">Booking ID</label>
          {{ form.booking_id }}
          {% if form.booking_id.errors %}
            <div class="text-danger">{{ form.booking_id.errors|join:", " }}</div>
          {% endif %}
        </div>
        
        {% if messages %}
          {% for message in messages %}
            <p style="text-align: center; color: brown;"{% if message.tags %}  class="{{ message.tags }}"{% endif %}>{{ message }}</p>
          {% endfor %}
        {% endif %}
       
        <!-- Submit Button -->
        <div id="form_button_div">
        <button type="submit" id="form_button">Check</button>
        </div id="form_button_div">
      </form>
    </div>
  </div>
</div>


{% endblock %}