{% extends "base.html" %}
{% load static%}

{% block links %}
<link rel="stylesheet" href={% static "css/rent_success.css"%}>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
        <div class="text-center p-4 shadow" id="success_container" >
            <h1 class="display-4 mb-4" id="form_text">Success</h1>
            <div class="col-12 mt-3" id="lines_text">
                <p id="form_text">Booking ID: {{ booking.id }}</p>
                <p id="form_text">Car: {{ car }}</p>
                <p id="form_text">Start Date: {{ start_date }}</p>
                <p id="form_text">End Date: {{ end_date }}</p>
            </div>
            <a href="{% url 'rental:home' %}" id="success_button">Continue</a>
        </div>
    </div>
    </div>

    
{% endblock %}
