
<footer class="bg-dark text-light mt-auto" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-3">
                <h5>Contact Us</h5>
                <p style="font-size: 12px;">Phone: +355 69 50 71 059</p>
                <p style="font-size: 12px;">Email: info@starrentals.com</p>
            </div>
            <div class="col-md-6 mt-3">
                <h5>Social Links</h5>
                <ul class="list-unstyled">
                    <li><a href="https://instagram.com/star_rental_?igshid=NzZlODBkYWE4Ng==" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="font-size: 12px;">&copy; 2023 Star Rentals. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>