footer{
    padding: 10px;
    position: sticky;
    bottom: -50px; /* Initially hide the footer below the viewport */
    left: 0;
    width: 100%;
    transition: bottom 0.3s ease-out; /* Add a smooth transition effect */
}