#error_message{
  justify-content: center;
}

#inner_container{
  border-radius: 15px;
    background-color: #202224;
    padding: 2vw;
    box-shadow: 0 5px 35px 5px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#form_title{
  color: #C8AF6C; 
  text-align: center;
}

#form_label{
  color: #C8AF6C;
}

#box_col{
    margin:auto
}

#button_container{
    display: flex;
    justify-content: center;
}

#form_button{
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #C8AF6C; 
  color: #fff; 
  background-color: #C8AF6C; 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s; 

  /* Add hover effect */
  &:hover {
      background-color: rgb(143, 119, 54); 
      border-color: rgb(143, 119, 54); 
      color: #fff; 
  }
}